html {
    position: relative;
    min-height: 100vh;
  }

#container {
    min-height: 100vh;
    margin: 0 !important;
    padding-bottom: 36px;
    background-image: url(../images/background-home-bdb.png);
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100% !important;
}

/* Custom properties/ CSS variables */
:root {
  --main-color: 11,79,111;
  --second-color: 248,10,153;
  --main-highlight-color: #63f3f9;
  --gradient-scroll : linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}
/* END - Custom properties/ CSS variables */

a {
  text-decoration: none !important;
}

li > a {
	color: rgb(var(--main-color)) !important;
}

li {
  color: #fff !important; 
}

ul {
    list-style: none;
    display: flex;
    margin-bottom: 0 !important;
    padding: 0 !important;
}

p, .p-2 {
  font-family: 'Tomorrow', sans-serif;
  font-weight: 400;
  color: white;
  /* margin: 0 !important; */
}

h1 {
  font-family: 'Orbitron', sans-serif;
  font-weight: 700;
  color: #fff !important;
  text-shadow: 2px 1px rgb(var(--main-color));
}

h3 {
  font-family: 'Tomorrow', sans-serif;
  font-weight: 400 !important;
  color: #fff !important; 
}

a {
  font-family: 'Tomorrow', sans-serif;
  font-weight: 400;
  color: #fff !important;
}

/* PAGE BASE */
/* NAVBAR */
.nav__navigation {
  padding: 0.7em;
}

.nav__link--active,
.nav__link:hover {
  border-bottom: solid 2px var(--main-highlight-color); 
}
.i-size-custom {
  font-size: 1.2em;
}

.bi-envelope-color {
  color: #fff; 
}

.fa-linkedin-in-color {
  color: #fff;
}

.i-github-color {
  color: rgb(var(--second-color)); 
}
.nav-link:hover .i-github-color {
  color: var(--main-highlight-color) !important; 
}

.nav-link:hover .fa-linkedin-in {
  color: var(--main-highlight-color) !important; 
}

.nav-link:hover .bi-envelope {
	color: var(--main-highlight-color) !important;
}

.width-custom-menu {
  width: 58%!important;
}

/* END NAVBAR */
.-div-space {
  height: 15vh;
}
/* FOOTER */
footer{
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-copyright {
  font-size: 0.8em;
}
/* END FOOTER */
/* END PAGE BASE */

/* PAGE INDEX */
.space-row-1 {
  height: 1em;
}
.space-row-2 {
  height: 2em;
}
.space-row-5 {
  height: 5em;
}
.space-row-10 {
  height: 10vh;
}
/* div left index */
.vertical-title {
  font-family: 'Michroma', sans-serif;
  color: #fff !important; 
  letter-spacing: .5rem;
}

.welcome-span-color-word {
  color: var(--main-highlight-color);  
}
/* END div left index */

/* div center */
.h1-span-color-letter-d {
  color: rgb(var(--second-color)); 
}
.h1-span-color-letter-b {
  color: #fff; 
 }
.h1-span-color2-letter {
  color: rgb(var(--main-color));  
}

.div-span-strength-color {
  color: var(--main-highlight-color); 
  text-shadow: 2px 1px rgb(var(--main-color)); 
  letter-spacing: .1em; 
}

.col-about-title {
  padding-right: 3rem !important;
}
/* END div center */

/* div right index */
.button-cv {
  border: rgb(var(--second-color)) solid 1px !important;
  box-shadow: rgb(99, 243, 249) 0px 20px 30px -10px;
  background-color: rgba(var(--main-color), 0.8) !important;
  --bs-btn-line-height: 0.5 !important;
  --bs-btn-font-size: 1.00rem !important;
}

.button-cv:hover {
  background-color: var(--main-highlight-color) !important;
}

.bi-download:hover {
  color: rgb(var(--second-color));
}

.bi-download {
  color: #fff;
}
.p-about {
  line-height: 1.5;
}
.p-about-word-color {
  color: var(--main-highlight-color);
  text-shadow: 2px 1px rgb(var(--main-color)); 
  letter-spacing: .1em;
}
/* END div right index */ 
/* END PAGE INDEX */

/* PAGE PROJETS */

.h1-projet {
  color: #fff !important;
  text-shadow: 2px 1px rgb(var(--second-color));
}
.p-projet {
  color: #fff !important;
}

.i-highlight-color {
  color: rgb(var(--second-color)) !important; 
}
a:hover .i-highlight-color {
  color: var(--main-highlight-color) !important; 
}

.project-span-color-vertical {
  color: var(--main-highlight-color);
}

.number-tab-project {
  font-family: 'Michroma', sans-serif;
  color: #fff !important; 
  letter-spacing: .5rem;
}

.size-p-nav-link {
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: .2rem;
  margin: 0 !important;
}

/* ! custom boostrap general style !*/
.nav-link{
  cursor: pointer;
}

.nav-link.active {
  background-color: transparent !important;
}

.nav-tabs {
  --bs-nav-tabs-border-color: transparent !important;
}

.nav-tabs .nav-link {
  border-top: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
  border-bottom: 0 !important;
  border-radius: 10px !important;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(27, 68, 86, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.nav-tabs .nav-link:hover {
  box-shadow:  3px 3px 6px #1B4456, -3px -3px 6px #1B4657;
}
.nav-tabs .nav-link.nav-link.active {
  /*box-shadow:  3px 3px 6px #1B4456, -3px -3px 6px #1B4657;*/
  box-shadow: rgba(99, 243, 249, 0.2) 3px 10px 10px -2px;
}

.nav-tabs .nav-link.nav-link.active p {
  color: var(--main-highlight-color);
}

.bg-content-project {
  background-color: rgba(20, 46, 67, 0.2);
  padding: 0 !important;
  margin: 0 !important;
  height: auto;
  max-width: 100% !important;
  border-radius: 10px !important;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  /*box-shadow: rgb(var(--main-color)) 0px 20px 30px -10px;*/
}

/* END ! custom boostrap general style !*/
/* END PAGE PROJETS */

/* PAGE PRIVACY*/
.scrollable-div-privacy {
  height: 70vh;
  overflow-y: scroll;
}
.list-terms-privacy {
  display: block !important;
}
.h2-privacy {
  color: #fff;
}
/*END PAGE PRIVACY*/

/* MEDIA */
@media only screen and (min-width: 996px) {
  .vertical-title {
    writing-mode: rl-tb;
    writing-mode:tb-rl;
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform:rotate(180deg);
    transform: rotate(180deg);
  }
}

/* responsive mobile and tablette */
@media screen and (max-width: 996px) {  
  /* ON CLICK TOGGLE BUTTON ADD THE BACKGROUND BLUR FOR THE MAIN DIV TO SEE ONLY THE MENU */
  .background-blur {
    background: rgb(var(--main-color));
    filter: blur(5px) brightness(1.0);
  }
  /* END on click */

  /* menu toggle */
  .width-custom-menu {
    width: 100%!important;
  }

  ul.nav.custom-social-nav {
    flex-direction: row;
    justify-content: center;
  }

  .navbar-collapse {
    margin-bottom: 2rem;
  }
  /* END menu toggle */

  /* PAGE BASE */
  .responsive-div-space {
    height: 20rem;
  }
  /* END PAGE BASE */

  /* PAGE INDEX */
  .responsive-space-row {
    height: 0;
  }
  /* END PAGE INDEX */

  /* PAGE PROJET */
  .nav-tabs .nav-link.nav-link.active p {
    color: rgb(var(--main-color));
  }

  .div-space-project {
    height: 5rem;
  }
  #projectTab.flex-column {
    flex-direction: row !important;
  } 
  #projectTab .nav-item {
    margin-right: 1rem;
  }
  /* END PAGE PROJET */
}