<!doctype html>
<html lang="fr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">

    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon-bdb.png') }}"  type="image/x-icon" />

    <!-- Bootstrap CSS -->
    <link 
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <!-- font asesome 6 cdn -->
    <link rel="stylesheet" 
    href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.0/css/all.css">
    <!--  icon fonts stylesheet -->
    <link rel="stylesheet" 
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    
    <!--  Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!--  Google Fonts Tomorrow -->
    <link href="https://fonts.googleapis.com/css2?family=Tomorrow:wght@200;300;400;500;600;700;800&display=swap" 
    rel="stylesheet">  
    
    <!--  Google Fonts Orbiton -->
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700;800&display=swap" rel="stylesheet">
    
    <!--  Google Fonts Michroma -->
    <link href="https://fonts.googleapis.com/css2?family=Michroma&display=swap" rel="stylesheet">
    
    <title>{% block title %} {% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}" />
  </head>
  <body>
    <div id="container" class="position-relative">
      <!--Header -->
      <header>
        <!-- Container wrapper -->
        <div class="container">
          <!-- Navbar -->
          <nav class="navbar navbar-dark navbar-expand-lg">
                <a class="navbar-brand" href="{{ url_for('index')}}">
                  <img class="img-navbar-brand" src="{{url_for('static', filename='/images/logo-bdb.png')}}" width="70" height="70" alt=''>
                </a>

                <!-- Toggle button -->
                <button class="navbar-toggler click" 
                        type="button" 
                        data-bs-toggle="collapse" 
                        data-bs-target="#navbarButtonsExample" 
                        aria-controls="navbarButtonsExample" 
                        aria-expanded="false" 
                        aria-label="Toggle navigation">
                    <i class="navbar-toggler-icon"></i>
                </button>

                <!-- Collapsible wrapper -->
                <div class="collapse navbar-collapse justify-content-end" id="navbarButtonsExample">
                    <!-- center menu -->
                    <ul class="nav navbar-nav align-items-center width-custom-menu">
                        <li class="nav-item nav__navigation">
                            <a class="nav-link nav__link {{ 'nav__link--active' if request.path == url_for('index') }}" 
                              href="{{ url_for('index')}}">
                                ABOUT
                            </a>
                        </li>
                        <li class="nav-item nav__navigation">
                          <a class="nav-link nav__link {{ 'nav__link--active' if request.path == url_for('projets') }}" 
                          href="{{ url_for('projets')}}">
                            PROJECTS
                          </a>
                        </li>
                    </ul>
                    <!-- End center menu -->
                    
                    <!-- Icons -->
                    <ul class="nav navbar-nav align-items-center custom-social-nav">
                        <li class="nav-item me-4 me-lg-0">
                            <a class="nav-link" href="mailto: contact@exemple.com">
                                <i class="bi bi-envelope bi-envelope-color i-size-custom"></i>
                            </a>
                        </li>
                        <li class="nav-item me-4 me-lg-0">
                            <a class="nav-link" 
                            href="https://www.linkedin.com"
                            target="_blank">
                                <i class="fab fa-linkedin-in fa-linkedin-in-color i-size-custom"></i>
                            </a>
                        </li>
                        <li class="nav-item me-3 me-lg-0">
                            <a class="nav-link" 
                            href="https://github.com"
                            target="_blank">
                              <i class="fab fa-github i-size-custom i-github-color"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- End Icons -->
                </div>
                <!-- Collapsible wrapper -->
          </nav>
          <!-- END Navbar -->
        </div>
        <!-- Container wrapper -->
      </header>
      <div id="main">
        <div>{% block content %} {% endblock %}</div>
        <div class="responsive-div-space"></div>
      </div>
    </div>
    <footer class="footer">
      <div class="foot-wrapper">
        <p class="d-flex justify-content-center footer-copyright">
          <a href="{{ url_for('privacy')}}">© 20-- YOUR-NAME | Mentions légales</a>
        </p>
      </div>
    </footer>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script>
      // listen click on navbar-toggler
      document.querySelector('.click').addEventListener('click', (e) => {
        // check if the aria-expanded is true 
        const ariaTRUE = document.querySelector('button[aria-expanded="true"]'); 
        if(!!ariaTRUE) {
          // If is true add class background-blur to main div, because we want to see only the menu
          var mainElement = document.querySelector("#main");
          mainElement.classList.add("background-blur");
        } else {
          // remove the background blur because we want to see the all the main div
          document.querySelector(".background-blur").classList.remove("background-blur");
        }
      });
    </script>
  </body>
</html>