{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row space-row-5">
        </div>
        <div class="row gx-2">
          <div class="col-lg-2">
            <h3 class="vertical-title">Welcome - Bienvenue</h2>           
          </div>
          <div class="col-lg-5">
            <h1>{% block title %} BARBARA DI BATTISTA DÉVELOPPEUSE FULL STACK {% endblock %}</h1>
            <div row class="space-row-2"></div>
            <div class="d-flex flex-row">
                <div class="p-2"># Détermination</div>
                <div class="p-2"># Collaboration</div>
                <div class="p-2"># Rigueur</div>
            </div>
          </div>
          <div class="col-lg-4">
            <p>Développeuse full-stack freelance, je suis passionnée par la résolution de problèmes. À l' écoute, je clarifie le besoin et analyse les possibilités pour trouver une solution créative.
                Forte de cette expérience j’ai acquis un réel bagage et une vue d’ensemble de la culture informatique.
                J’ai pu aussi identifier les points essentiels de ma trajectoire professionnelle d'où le choix de me focaliser sur le backend.
            </p>
            <button type="button" class="btn btn-sm button-cv"><span class="bi bi-download"></span>&nbsp;Mon cv</button>
          </div>
          <div class="col-lg-1"></div>
        </div>
    </div>
{% endblock %}