{% extends 'base.html' %}

{% block title %}Barbara Di Battista développeuse full-stack{% endblock %}
{% block description %}Barbara is a full stack developer, with preference for PYTHON and solving problems. {% endblock %}
{% block content %}
    <div class="container">
        <div class="row space-row-10">
        </div>
        <div class="row gx-2">
          <div class="col-lg-1">
            <p class="vertical-title"><span class="welcome-span-color-word">Welcome</span>- Bienvenue</p>           
          </div>
          <div class="col-lg-1"></div>
          <div class="col-lg-5 pt-5 col-about-title">
            <h1>
                <span class="h1-span-color2-letter">T</span>ITLE 
                OF THE
                <br>
                <span class="h1-span-color1-letter">P</span>ORTFOLIO 
                <br>
                DEVELOPER 
                <br>
                FULL STACK 
            </h1>
            <div row class="space-row-5"></div>
            <div class="row">
                <div class="col-12 col-md-4 p-2">#strength1</div>
                <div class="col-12 col-md-5 p-2"><span class="div-span-strength-color">#strength2</span></div>
                <div class="col-12 col-md-3 p-2">#strength3</div>
            </div>
          </div>
          <div class="col-lg-4 pt-5">
            <p class="p-about">Lorem Ipsum is 
              <span class="p-about-word-color">simply</span> 
              dummy <span class="p-about-word-color">text</span> of the printing and 
              <span class="p-about-word-color">typesetting</span> 
              industry. Lorem Ipsum has been the industry's standard dummy text ever since the  
              <span class="p-about-word-color">1500s</span>, 
              when an unknown <span class="p-about-word-color">printer</span> took a galley of type and scrambled it to make a type specimen book. It has survived not only  
              <span class="p-about-word-color">five</span> centuries, but also the leap into 
              <span class="p-about-word-color">electronic</span> typesetting, remaining essentially unchanged. 
              It was popularised in the <span class="p-about-word-color">1960s</span> with the release of Letraset sheets containing <span class="p-about-word-color">Lorem Ipsum</span> passages,
            </p>
            <div row class="space-row-1 responsive-space-row"></div>
            <a class="btn btn-lg button-cv" href="{{url_for('download')}}">
              <span class="bi bi-download">&nbsp; download</span>
            </a>
          </div>
          <div class="col-lg-1"></div>
        </div>
    </div>
{% endblock %}