{% extends 'base.html' %}

{% block title %}Bienvenue sur Barbara Di Battista{% endblock %}
{% block description %}Barbara is a full stack developer, with preference for PYTHON and solving problems. {% endblock %}
{% block content %}
    <div class="container">
        <div class="row space-row-10">
        </div>
        <div class="row gx-2">
          <div class="col-lg-1">
            <p class="vertical-title"><span class="welcome-span-color-word">Welcome</span>- Bienvenue</p>           
          </div>
          <div class="col-lg-1"></div>
          <div class="col-lg-5 pt-5">
            <h1>
                <span class="h1-span-color2-letter">B</span>ARBARA 
                <span class="h1-span-color-letter-d">D</span>I
                <br>
                <span class="h1-span-color-letter-b">B</span>ATTISTA 
                <br>
                DÉVELOPPEUSE 
                <br>
                FULL STACK 
            </h1>
            <div row class="space-row-5"></div>
            <div class="d-flex flex-row">
                <div class="p-2">#Collaboration</div>
                <div class="p-2"><span class="div-span-strength-color">#Détermination</span></div>
                <div class="p-2">#Rigueur</div>
            </div>
          </div>
          <div class="col-lg-4 pt-5">
            <p class="p-about">Développeuse full-stack <span class="p-about-word-color">freelance</span>, je suis passionnée par la 
                <span class="p-about-word-color">résolution de problèmes</span>.<br>
                À <span class="p-about-word-color">l'écoute</span>, je <span class="p-about-word-color">clarifie</span> le besoin et <span class="p-about-word-color">analyse</span> 
                les possibilités pour trouver une <span class="p-about-word-color">solution créative</span>.<br>
                Forte de cette expérience j’ai acquis un réel bagage et une <span class="p-about-word-color">vue d’ensemble</span> de la culture informatique.<br>
                J’ai pu aussi identifier les points essentiels de ma trajectoire professionnelle d'où le choix de me focaliser sur le <span class="p-about-word-color">backend</span>.
            </p>
            <div row class="space-row-1 responsive-space-row"></div>
            <a class="btn btn-lg button-cv" href="{{url_for('download')}}">
              <span class="bi bi-download">&nbsp; Mon cv</span>
            </a>
          </div>
          <div class="col-lg-1"></div>
        </div>
    </div>
{% endblock %}