{% extends 'base.html' %}

{% block title %}Mention légales, barbara di battista{% endblock %}
{% block content %}
<div class="container">
    <div class="row space-row-2">
    </div>
    <div class="row">
        <div class="col pt-5">
            <p class="vertical-title"><span class="project-span-color-vertical">scroll</span>- the text</p>           
        </div>
        <div class="col-sm-11 col-md-9 scrollable-div-privacy p-5">
            <h1>MENTIONS LÉGALES</h1>
            <div class="py-5">
                <p>
                    Le présent site internet est la propriété de Barbara Di Battista, auto-entrepreneur, dont le siège social est situé au 161 impasse le sapin 42140 Grammond, France, immatriculée sous le numéro SIRET XXXXXXXXXX.
                </p>
                <ul class="list-terms-privacy">
                    <li>Adresse e-mail : barbara10batttista@gmail.com</li>
                    <li>Le directeur de la publication : Barbara Di Battista</li>
                    <li>Conception et Développement : Barbara Di Battista</li>
                    <li>Hébergement : <span>OVH – Siège social : 2 rue Kellermann – 59100 Roubaix – France.</span></li>
                </ul>
            </div>
            <div class="pb-5">
                <h2 class="h2-privacy pb-2">POLITIQUE DE SÉCURISATION DE VOS DONNÉES</h2>
                <p>Je suis soucieuse de la protection de la vie privée et la sécurité des données de mes utilisateurs.
                J'ai mis un hébergement une certificat SSL pour assurer la protection de vos données.</p>
                <p>De plus soyez assuré que je ne collecte aucune donnée personnelle identifiable des visiteurs de mon site internet. Je n'utilise aucun système de suivi tel que les cookies, les pixels ou les balises Web.
                Comme je ne collecte aucune donnée personnelle identifiable, je n'utilise aucune information pour des fins commerciales ou de marketing. Je ne partage aucune information avec des tiers.</p>
                <p>Toute fois si vous me contacter par e-mail ou téléphone je m'autorise à utiliser ces informations pour vous répondre. Mais en aucun cas à les communiqués à des tiers</p>
                <p>Si vous avez des questions ou des préoccupations concernant cette politique de confidentialité, vous pouvez me contacter à l'adresse e-mail suivante : barbara10batttista@gmail.com</p>
            </div>
            <div class="py-2">
                <h2 class="h2-privacy">CONDITIONS D’UTILISATION DU SITE INTERNET</h2>
                <p>Le contenu du site, incluant, de façon non limitative, les textes, graphismes, images, marques, logos et icônes, ainsi que leur mise en forme sont la propriété exclusive de Barbara Di Battista. Toute reproduction, distribution, modification, adaptation, retransmission ou publication, même partielle, de ces différents éléments est strictement interdite sans l'accord exprès par écrit de Barbara Di Battista.</p>
                <p>Le site peut contenir des liens hypertextes vers d'autres sites web gérés par des tiers. Barbara Di Battista n'exerce aucun contrôle sur ces sites et n'assume aucune responsabilité quant à leur contenu.</p>
                <p>L'utilisation du site est soumise à la législation française et aux présentes conditions d'utilisation.</p>
            </div>
            <div>
                <p>Je me réserve le droit, de mettre à jour ou de modifier les mentions légales et conditions d’utilisation.Merci de votre compréhension.
                </p>
                <p>N’hésitez-pas à me vous pouvez me contacter à l'adresse e-mail mentionnée ci-dessus.</p>
            </div>
        </div>
        <div class="col-sm-0 col-md-1"></div>
    </div>
</div>
{% endblock %}