{% extends 'base.html' %}

{% block title %}Barbara Di Battista projets{% endblock %}
{% block description %}Barbara présente ces réalisations, site internet VueJs et projet Python. {% endblock %}

{% block content %}
    <div class="container">
        <div class="row space-row-10">
        </div>
        <div class="row gx-2">
          <div class="col-lg-1">
            <p class="vertical-title"><span class="project-span-color-vertical">click</span>- next project</p>           
          </div>
          <div class="col-lg-1"></div>
          <div class="col-lg-9">
            <div class="row">
              <div class="col-lg-2 order-lg-3">
                <!-- Tab navs projects -->
                <ul class="nav nav-tabs flex-column pt-2" id="projectTab" role="tablist" aria-orientation="vertical">
                  <li class="nav-item">
                    <a 
                      class="nav-link active mb-3" 
                      id="content-link1-tab" 
                      data-bs-toggle="tab" 
                      data-bs-target="#content-link1"
                      role="tab" 
                      aria-controls="content-link1" 
                      aria-selected="false">
                      <p class="size-p-nav-link">
                        FLASK
                      </p>
                      <img class="img-navbar-brand" src="{{url_for('static', filename='/images/favicon-bdb.png')}}" width="20" height="20" alt=''>
                      </a>
                  </li>
                  <li class="nav-item">
                    <a 
                      class="nav-link mb-3" 
                      id="content-link2-tab" 
                      data-bs-toggle="tab" 
                      data-bs-target="#content-link2"
                      role="tab" 
                      aria-controls="content-link2" 
                      aria-selected="false">
                      <p class="size-p-nav-link">
                        PYTHON
                      </p>
                      <i class="fab fa-github i-size-custom"></i>
                      <!-- <p>OC- Projet-5</p> -->
                    </a>
                  </li>
                  <li class="nav-item">
                    <a 
                      class="nav-link mb-3" 
                      id="content-link3-tab" 
                      data-bs-toggle="tab" 
                      data-bs-target="#content-link3" 
                      role="tab" 
                      aria-controls="content-link3" 
                      aria-selected="true">
                      <p class="size-p-nav-link">
                        VUEJS
                      </p>
                      <img class="img-navbar-brand" src="{{url_for('static', filename='/images/favicon-infinity-innovation.png')}}" width="20" height="20" alt=''>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a 
                      class="nav-link mb-3"" 
                      id="content-link4-tab" 
                      data-bs-toggle="tab" 
                      data-bs-target="#content-link4" 
                      role="tab" 
                      aria-controls="content-link4" 
                      aria-selected="false">
                      <p class="size-p-nav-link">
                        HTML-ONLY
                      </p>
                      <img class="img-navbar-brand" src="{{url_for('static', filename='/images/LOGO_parachini_reflexologue.svg')}}" width="20" height="20" alt=''>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a 
                      class="nav-link mb-3" 
                      id="content-link5-tab" 
                      data-bs-toggle="tab" 
                      data-bs-target="#content-link5"
                      role="tab" 
                      aria-controls="content-link5" 
                      aria-selected="false">
                      <p class="size-p-nav-link">
                        CMS
                      </p>
                      <i class="bi bi-wordpress"></i>
                    </a>
                  </li>
                </ul>
                 <!-- END Tab navs projects -->
              </div>
              <div class="div-space-project col-lg-1 order-lg-2" ></div>
              <div class="col-lg-9 bg-content-project p-3 order-lg-1">
                <!-- Tab content project -->
                <div class="tab-content" id="projectTabContent">
                  <div class="tab-pane fade show active" id="content-link1" role="tabpanel" aria-labelledby="content-link1-tab">
                    <h1 class="h1-projet">Flask</h1>
                    <h1 class="h1-projet">in Python 3</h1>
                    <div class="row space-row-2"></div>
                    <p>Bienvenue !
                      Dans le but de réaliser mon portfolio en Python, j'ai découvert Flask. Flask est un micro-framework, ce qui signifie qu'il est léger mais aussi flexible. J'ai trouvé qu'il était facile à appréhender grâce à sa documentation complète et concise et à sa communauté, étant donné qu'il est open-source. J'ai également apprécié l'utilisation de Jinja2, le moteur de templates, qui m'a permis de ne pas répéter du code inutilement.
                      Pour la partie design et responsive, j'ai utilisé Bootstrap. Bien que cela ait alourdi l'application, le temps de développement a été rapide.
                      </p>
                    <div class="row space-row-2"></div>
                    <ul class="d-flex justify-content align-items-center">
                      <li class="pe-3"><span class="div-span-strength-color">Python</span></li>
                      <li class="pe-3">JavaScript</li>
                      <li class="pe-3">HTML</li>
                      <li class="pe-3">CSS</li>
                      <li> 
                        <a href="https://github.com/dibattista/di-battista-barbara" target="_blank">
                          <i class="fab fa-github i-size-custom i-highlight-color"></i>
                        </a>
                      </li> 
                    </ul> 
                  </div>
                  <div class="tab-pane fade" id="content-link2" role="tabpanel" aria-labelledby="content-link2-tab">
                    <h1 class="h1-projet">OC</h1>
                    <h1 class="h1-projet">Projet-5</h1>
                    <div class="row space-row-2"></div>
                    <P class="p-projet">J'ai suivi un parcours en ligne appelé "Développeur d'application-Python" sur <a href="https://openclassrooms.com/fr/">OpenClassrooms</a> et j'ai créé un programme qui utilise l'API d'Open Food Facts pour trouver des aliments sains en France. Le programme utilise des informations sur la qualité des aliments pour suggérer des options plus saines.</p>
                    <p>Python est vraiment un langage que j'ai plaisir à utiliser. Sa réputation n'est plus à faire : il est polyvalent, puissant, rapide, efficace et sa syntaxe est simple à appréhender.</p>
                    <div class="row space-row-2"></div>
                    <ul class="d-flex justify-content align-items-center">
                      <li class="pe-3"><span class="div-span-strength-color">Python</span></li>
                      <li class="pe-3">SQL</li>
                      <li class="pe-3">MySql</li>
                      <li class="pe-3">API</li>
                      <li> 
                        <a href="https://github.com/dibattista/OC_P5_OpenFoodFacts" target="_blank">
                          <i class="fab fa-github i-size-custom i-highlight-color"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="tab-pane fade" id="content-link3" role="tabpanel" aria-labelledby="content-link3-tab">
                    <h1 class="h1-projet">INFINITY</h1>
                    <h1 class="h1-projet">INNOVATION
                    </h1>
                    <div class="row space-row-2"></div>
                    <P class="p-projet">Infinity Innovation est une entreprise internationale qui créer et vend des piscines aux professionnels. Dans ce contexte et afin d'assurer une communication transparente et régulière avec la cliente et le designer, j'ai mis en place une méthodologie de gestion de projet agile pour la refonte du site vitrine.
                    </P>
                    <p>J’ai choisi VueJs pour ce projet car il est léger et permet d’avoir un chargement d’image rapide. Il est également facile à prendre en main et donc à maintenir. J’ai du utiliser NuxtJs pour optimiser le référencement.
                    </p>
                    <!-- <div class="row space-row-2"></div> -->
                    <ul class="d-flex justify-content align-items-center">
                      <li class="pe-3"><span class="div-span-strength-color">VueJs - NuxtJs</span></li>
                      <li class="pe-3">JavaScript</li>
                      <li class="pe-3">PHP</li>
                      <li class="pe-3">CSS</li>
                      <li> 
                        <a href="https://www.infinity-innovation.fr" target="_blank">
                          <i class="bi bi-box-arrow-up-right i-highlight-color i-size-custom"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="tab-pane fade" id="content-link4" role="tabpanel" aria-labelledby="content-link4-tab">
                    <h1 class="h1-projet">VOTRE</h1>
                    <h1 class="h1-projet">RÉFLEXOLOGUE</h1>
                    <div class="row space-row-2"></div>
                    <P class="p-projet">Ce site vitrine est dédié à la présentation des services de Serge Parachini, réflexologue professionnel.
                      J'ai créé ce site en utilisant uniquement HTML et CSS, premier site que j'ai réalisé entièrement seule pour un client. Ce projet m'a permis d'avoir une vision complète de la création d'un site internet, de la conception à la mise en ligne. Ce site est très facile à maintenir et offre une expérience utilisateur unique.
                    </P>
                    <div class="row space-row-2"></div>
                    <ul class="d-flex justify-content align-items-center">
                      <li class="pe-3"><span class="div-span-strength-color">HTML</span></li>
                      <li class="pe-3">JavaScript</li>
                      <li class="pe-3">PHP</li>
                      <li class="pe-3">CSS</li>
                      <li> 
                        <a href="https://www.votre-reflexologue.com/" target="_blank">
                          <i class="bi bi-box-arrow-up-right i-highlight-color i-size-custom"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="tab-pane fade" id="content-link5" role="tabpanel" aria-labelledby="content-link5-tab">
                    <h1 class="h1-projet">Projets</h1>
                    <h1 class="h1-projet">CMS</h1>
                    <div class="row space-row-2"></div>
                    <p>WordPress m'a permis de répondre efficacement aux demandes de mes clients en termes de temps et de budget. L'utilisation de ce CMS m'a également permis d'acquérir une vision globale du monde de l'informatique et des exigences des clients. J'ai découvert les avantages des CMS tels que la possibilité de modifier des designs préréaliser, la facilité de maintenance du contenu par le client, et la disponibilité de plug-ins offrant des outils adaptés à des besoins spécifiques.</p>
                    <div class="row">
                      <div class="col-6" class="pe-3">
                        <a href="https://univers-pods.com/" target="_blank">Univers-Pods
                          <i class="bi bi-box-arrow-up-right i-highlight-color i-size-custom"></i>
                        </a>
                      </div>
                      <div class="col-6" class="pe-3">
                        <a href="https://harmoniedetente.fr" target="_blank">Harmonie Détente
                          <i class="bi bi-box-arrow-up-right i-highlight-color i-size-custom"></i>
                        </a>
                      </div>
                      <div class="col-6" class="pe-3">
                        <a href="https://rambolikids.org/" target="_blank">Rambolikids
                          <i class="bi bi-box-arrow-up-right i-highlight-color i-size-custom"></i>
                        </a>
                      </div>
                      <div class="col-6" class="pe-3">
                        <a href="" target="_blank">En cours : Laura Thévenon
                          <i class="bi bi-box-arrow-up-right i-highlight-color i-size-custom"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- END Tab content project --> 
              </div>
            </div>
          </div>
          <div class="col-lg-1"></div>
        </div>
    </div>
{% endblock %}