{% extends 'base.html' %}

{% block title %}Projets BDB{% endblock %}
{% block content %}
    <div class="container">
        <div class="row space-row-2">
        </div>
        <div class="row gx-2">
          <div class="col-lg-1 d-flex justify-content-center">
            <p class="vertical-title"><span class="welcome-span-color-word">Scroll</span>- next project</p>           
          </div>
          <div class="col-1"></div>
          <div class="col-7 pt-4">
            <div data-bs-spy="scroll"
                 data-bs-target="#list-example" 
                 data-bs-offset="0"
                 id="custom-scrollspy" 
                 class="scrollspy-example container-scrollable"
                 tabindex="0">
              <div id="list-item-1" class="row fixed-height-project-content fade show active bg-project-1 pb-4">
                <div class="col-1"></div>
                <div class="col-8">
                    <h1 class="h1-projet-1">INFINITY</h1>
                    <h1 class="h1-projet-1">INNOVATION</h1>
                    <div class="space-row-2"></div>
                    <P class="p-projet-1">1 -Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                          Est, excepturi illo neque eaque error corrupti laborum alias
                          veniam natus molestias in cupiditate magnam ratione voluptatem!
                    </P>
                    <div class="d-flex flex-row align-items-center">
                      <div class="p-2"><span class="div-span-strength-color">VueJs - NuxtJs</span></div>
                      <div class="p-2"><p class="p-projet-1">JavaScript</p></div>
                      <div class="p-2"><p class="p-projet-1">PHP</p></div>
                      <div class="p-2"><p class="p-projet-1">CSS</p></div>
                      <div class="p-2">
                        <a href="https://www.infinity-innovation.fr" target="_blank">
                          <i class="bi bi-box-arrow-up-right"></i>
                        </a>
                      </div>
                    </div>
                </div>
                <div class="col-3"></div>
              </div>
              <div id="list-item-2" class="row fixed-height-project-content bg-project-2 pb-4">
                <div class="col-1"></div>
                <div class="col-8 bg-success">
                    <div class="space-row-2"></div>
                    <h1 class="h1-projet-1">VOTRE</h1>
                    <h1 class="h1-projet-1">RÉFLEXOLOGUE</h1>
                    <div class="space-row-2"></div>
                    <P class="p-projet-1">2 -Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                      Est, excepturi illo neque eaque error corrupti laborum alias
                      veniam natus molestias in cupiditate magnam ratione voluptatem!
                    </P>
                    <div class="d-flex flex-row align-items-center">
                      <div class="p-2"><p>JavaScript</p></div>
                      <div class="p-2"><p>PHP</p></div>
                      <div class="p-2"><p>CSS</p></div>
                      <div class="p-2"><span class="div-span-strength-color">HTML</span></div>
                      <div class="p-2">
                        <a href="https://votre-reflexologue.com/" target="_blank">
                          <i class="bi bi-box-arrow-up-right"></i>
                        </a>
                      </div>
                    </div>
                </div>
                <div class="col-3"></div>
              </div>
              <div id="list-item-3" class="row fixed-height-project-content bg-project-3 pb-4">
                <div class="col-1"></div>
                <div class="col-8 bg-success">
                  <div class="space-row-2"></div>
                  <h1 class="h1-projet-1">OC</h1>
                  <h1 class="h1-projet-1">PYTHON</h1>
                  <div class="space-row-2"></div>
                  <P class="p-projet-1">3 -Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                      Est, excepturi illo neque eaque error corrupti laborum alias
                      veniam natus molestias in cupiditate magnam ratione voluptatem!
                  </P>
                  <div class="d-flex flex-row align-items-center">
                    <div class="p-2"><p>PYTHON</p></div>
                    <div class="p-2"><span class="div-span-strength-color">HTML</span></div>
                    <div class="p-2"><p>SQL</p></div>
                    <div class="p-2">
                      <a href="https://github.com/dibattista" target="_blank">
                        <i class="bi bi-box-arrow-up-right"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-3"></div>
              </div> 
            </div>
          </div>
          <div class="col-1 pt-4">
            <div id="list-example" class="list-group">
                  <a class="list-group-item list-group-item-action list-project active list-project-1" href="#list-item-1">
                    <p class="h6 p-2">01</p>
                    <div class="bg-danger vertical-title-project" style="height: 3px; width: 100%;"></div>
                  </a>
                  <div class="row space-row-2"></div>
                  <a class="list-group-item list-group-item-action list-project list-project-2" href="#list-item-2">
                    <p class="h6 p-2">HTML</p>
                    <div class="bg-danger vertical-title-project" style="height: 3px; width: 100%;"></div>
                  </a>
                  <div class="row space-row-2"></div>
                  <a class="list-group-item list-group-item-action list-project list-project-3" href="#list-item-3">
                    <p class="h6 p-2">PYTHON</p>
                    <div class="bg-danger vertical-title-project" style="height: 3px; width: 100%;"></div>
                  </a>
            </div>
          </div>
          <div class="col-1"></div>
        </div>
    </div>
{% endblock %}