{% extends 'base.html' %}

{% block title %}NAME project{% endblock %}
{% block description %}NAME presents these achievements {% endblock %}

{% block content %}
    <div class="container">
        <div class="row space-row-10">
        </div>
        <div class="row gx-2">
          <div class="col-lg-1">
            <p class="vertical-title"><span class="project-span-color-vertical">click</span>- next project</p>           
          </div>
          <div class="col-lg-1"></div>
          <div class="col-lg-9">
            <div class="row">
              <div class="col-lg-2 order-lg-3">
                <!-- Tab navs projects -->
                <ul class="nav nav-tabs flex-column pt-2" id="projectTab" role="tablist" aria-orientation="vertical">
                  <li class="nav-item">
                    <a 
                      class="nav-link active mb-3" 
                      id="content-link1-tab" 
                      data-bs-toggle="tab" 
                      data-bs-target="#content-link1"
                      role="tab" 
                      aria-controls="content-link1" 
                      aria-selected="false">
                      <p class="size-p-nav-link">
                        TAB-1
                      </p>
                      <!-- <img class="img-navbar-brand" src="{{url_for('static', filename='/images/YOUR-favicon.png')}}" width="20" height="20" alt=''> -->
                      </a>
                  </li>
                  <li class="nav-item">
                    <a 
                      class="nav-link mb-3" 
                      id="content-link2-tab" 
                      data-bs-toggle="tab" 
                      data-bs-target="#content-link2"
                      role="tab" 
                      aria-controls="content-link2" 
                      aria-selected="false">
                      <p class="size-p-nav-link">
                        TAB-2
                      </p>
                      <i class="fab fa-github i-size-custom"></i>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a 
                      class="nav-link mb-3" 
                      id="content-link3-tab" 
                      data-bs-toggle="tab" 
                      data-bs-target="#content-link3" 
                      role="tab" 
                      aria-controls="content-link3" 
                      aria-selected="true">
                      <p class="size-p-nav-link">
                        TAB-3
                      </p>
                      <i class="fab fa-github i-size-custom"></i>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a 
                      class="nav-link mb-3" 
                      id="content-link4-tab" 
                      data-bs-toggle="tab" 
                      data-bs-target="#content-link4" 
                      role="tab" 
                      aria-controls="content-link4" 
                      aria-selected="false">
                      <p class="size-p-nav-link">
                        TAB-4
                      </p>
                      <i class="fab fa-github i-size-custom"></i> 
                    </a>
                  </li>
                  <li class="nav-item">
                    <a 
                      class="nav-link mb-3" 
                      id="content-link5-tab" 
                      data-bs-toggle="tab" 
                      data-bs-target="#content-link5"
                      role="tab" 
                      aria-controls="content-link5" 
                      aria-selected="false">
                      <p class="size-p-nav-link">
                        TAB-5
                      </p>
                      <i class="bi bi-wordpress"></i>
                    </a>
                  </li>
                </ul>
                 <!-- END Tab navs projects -->
              </div>
              <div class="div-space-project col-lg-1 order-lg-2" ></div>
              <div class="col-lg-9 bg-content-project p-3 order-lg-1">
                <!-- Tab content project -->
                <div class="tab-content" id="projectTabContent">
                  <div class="tab-pane fade show active" id="content-link1" role="tabpanel" aria-labelledby="content-link1-tab">
                    <h1 class="h1-projet">TAB-1</h1>
                    <h1 class="h1-projet">Content 1</h1>
                    <div class="row space-row-2"></div>
                    <p>
                      It is a long established <span class="div-span-strength-color">fact</span> that a reader will be <span class="div-span-strength-color">distracted</span> by the readable content of a page when looking at its layout. 
                      The point of using <span class="div-span-strength-color">Lorem Ipsum</span> is that it has a more-or-less normal distribution of letters, 
                      as opposed to using <span class="div-span-strength-color">'Content here</span>, content here', 
                      making it look like readable <span class="div-span-strength-color">English</span>. 
                      Many desktop publishing <span class="div-span-strength-color">packages</span> and web page editors now use <span class="div-span-strength-color">Lorem Ipsum</span> as their default model text, 
                      and a search for <span class="div-span-strength-color">'lorem ipsum'</span> will uncover many web sites still in their infancy. Various <span class="div-span-strength-color">versions</span> have evolved over the years, 
                    </p>
                    <div class="row space-row-2"></div>
                    <ul class="d-flex justify-content align-items-center">
                      <li class="pe-3"><span class="div-span-strength-color">Python</span></li>
                      <li class="pe-3">JavaScript</li>
                      <li class="pe-3">HTML</li>
                      <li class="pe-3">CSS</li>
                      <li> 
                        <a href="" target="_blank">
                          <i class="fab fa-github i-size-custom i-highlight-color"></i>
                        </a>
                      </li> 
                    </ul> 
                  </div>
                  <div class="tab-pane fade" id="content-link2" role="tabpanel" aria-labelledby="content-link2-tab">
                    <h1 class="h1-projet">TAB-2</h1>
                    <h1 class="h1-projet">Content 2</h1>
                    <div class="row space-row-2"></div>
                    <p>
                      It is a long established <span class="div-span-strength-color">fact</span> that a reader will be <span class="div-span-strength-color">distracted</span> by the readable content of a page when looking at its layout. 
                      The point of using <span class="div-span-strength-color">Lorem Ipsum</span> is that it has a more-or-less normal distribution of letters, 
                      as opposed to using <span class="div-span-strength-color">'Content here</span>, content here', 
                      making it look like readable <span class="div-span-strength-color">English</span>. 
                      Many desktop publishing <span class="div-span-strength-color">packages</span> and web page editors now use <span class="div-span-strength-color">Lorem Ipsum</span> as their default model text, 
                      and a search for <span class="div-span-strength-color">'lorem ipsum'</span> will uncover many web sites still in their infancy. Various <span class="div-span-strength-color">versions</span> have evolved over the years, 
                    </p>
                    <div class="row space-row-2"></div>
                    <ul class="d-flex justify-content align-items-center">
                      <li class="pe-3"><span class="div-span-strength-color">Python</span></li>
                      <li class="pe-3">SQL</li>
                      <li class="pe-3">MySql</li>
                      <li class="pe-3">API</li>
                      <li> 
                        <a href="" target="_blank">
                          <i class="fab fa-github i-size-custom i-highlight-color"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="tab-pane fade" id="content-link3" role="tabpanel" aria-labelledby="content-link3-tab">
                    <h1 class="h1-projet">TAB-3</h1>
                    <h1 class="h1-projet">Content 3</h1>
                    <div class="row space-row-2"></div>
                    <p>
                      It is a long established <span class="div-span-strength-color">fact</span> that a reader will be <span class="div-span-strength-color">distracted</span> by the readable content of a page when looking at its layout. 
                      The point of using <span class="div-span-strength-color">Lorem Ipsum</span> is that it has a more-or-less normal distribution of letters, 
                      as opposed to using <span class="div-span-strength-color">'Content here</span>, content here', 
                      making it look like readable <span class="div-span-strength-color">English</span>. 
                      Many desktop publishing <span class="div-span-strength-color">packages</span> and web page editors now use <span class="div-span-strength-color">Lorem Ipsum</span> as their default model text, 
                      and a search for <span class="div-span-strength-color">'lorem ipsum'</span> will uncover many web sites still in their infancy. Various <span class="div-span-strength-color">versions</span> have evolved over the years, 
                    </p>
                    <ul class="d-flex justify-content align-items-center">
                      <li class="pe-3"><span class="div-span-strength-color">VueJs - NuxtJs</span></li>
                      <li class="pe-3">JavaScript</li>
                      <li class="pe-3">PHP</li>
                      <li class="pe-3">CSS</li>
                      <li> 
                        <a href="" target="_blank">
                          <i class="bi bi-box-arrow-up-right i-highlight-color i-size-custom"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="tab-pane fade" id="content-link4" role="tabpanel" aria-labelledby="content-link4-tab">
                    <h1 class="h1-projet">TAB-4</h1>
                    <h1 class="h1-projet">Content 4</h1>
                    <div class="row space-row-2"></div>
                    <p>
                      It is a long established <span class="div-span-strength-color">fact</span> that a reader will be <span class="div-span-strength-color">distracted</span> by the readable content of a page when looking at its layout. 
                      The point of using <span class="div-span-strength-color">Lorem Ipsum</span> is that it has a more-or-less normal distribution of letters, 
                      as opposed to using <span class="div-span-strength-color">'Content here</span>, content here', 
                      making it look like readable <span class="div-span-strength-color">English</span>. 
                      Many desktop publishing <span class="div-span-strength-color">packages</span> and web page editors now use <span class="div-span-strength-color">Lorem Ipsum</span> as their default model text, 
                      and a search for <span class="div-span-strength-color">'lorem ipsum'</span> will uncover many web sites still in their infancy. Various <span class="div-span-strength-color">versions</span> have evolved over the years, 
                    </p>
                    <div class="row space-row-2"></div>
                    <ul class="d-flex justify-content align-items-center">
                      <li class="pe-3"><span class="div-span-strength-color">HTML</span></li>
                      <li class="pe-3">JavaScript</li>
                      <li class="pe-3">PHP</li>
                      <li class="pe-3">CSS</li>
                      <li> 
                        <a href="" target="_blank">
                          <i class="bi bi-box-arrow-up-right i-highlight-color i-size-custom"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="tab-pane fade" id="content-link5" role="tabpanel" aria-labelledby="content-link5-tab">
                    <h1 class="h1-projet">TAB-5</h1>
                    <h1 class="h1-projet">Content 5</h1>
                    <div class="row space-row-2"></div>
                    <p>
                      It is a long established <span class="div-span-strength-color">fact</span> that a reader will be <span class="div-span-strength-color">distracted</span> by the readable content of a page when looking at its layout. 
                      The point of using <span class="div-span-strength-color">Lorem Ipsum</span> is that it has a more-or-less normal distribution of letters, 
                      as opposed to using <span class="div-span-strength-color">'Content here</span>, content here', 
                      making it look like readable <span class="div-span-strength-color">English</span>. 
                      Many desktop publishing <span class="div-span-strength-color">packages</span> and web page editors now use <span class="div-span-strength-color">Lorem Ipsum</span> as their default model text, 
                      and a search for <span class="div-span-strength-color">'lorem ipsum'</span> will uncover many web sites still in their infancy. Various <span class="div-span-strength-color">versions</span> have evolved over the years, 
                    </p>
                    <div class="row">
                      <div class="col-6" class="pe-3">
                        <a href="" target="_blank">Project-CMS-1
                          <i class="bi bi-box-arrow-up-right i-highlight-color i-size-custom"></i>
                        </a>
                      </div>
                      <div class="col-6" class="pe-3">
                        <a href="" target="_blank">Project-CMS-2
                          <i class="bi bi-box-arrow-up-right i-highlight-color i-size-custom"></i>
                        </a>
                      </div>
                      <div class="col-6" class="pe-3">
                        <a href="" target="_blank">Project-CMS-3
                          <i class="bi bi-box-arrow-up-right i-highlight-color i-size-custom"></i>
                        </a>
                      </div>
                      <div class="col-6" class="pe-3">
                        <a href="" target="_blank">Project-CMS-4
                          <i class="bi bi-box-arrow-up-right i-highlight-color i-size-custom"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- END Tab content project --> 
              </div>
            </div>
          </div>
          <div class="col-lg-1"></div>
        </div>
    </div>
{% endblock %}